@import "tailwindcss";

:root {
  --el-border-radius-base: 16px;
  @apply bg-gray-50 dark:bg-gray-900;
}

.card {
  @apply bg-white dark:bg-gray-800 rounded-2xl p-4 border border-gray-200 dark:border-gray-700 shadow;
}
